@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Oswald');

body {
	font-family: "Oswald";
	margin: 4rem 4rem 4rem 4rem;
}

.navbar {
	border: 2px solid black;
	background-color: #BF4452;
	height: 4rem;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding-left: 2rem;
	padding-right: 0.5rem;
	margin-bottom: 15px;
}

.navbar .nav-button {
	margin-right: 2em;
}

.navbar .nav-button .nav-submit {
	background-color: #BF4452;
	font-family: inherit;
	border: none;
	font-size: 18px;
	color: white;
}

.navbar .nav-button-last .nav-submit {
	background-color: #BF4452;
	font-family: inherit;
	border: none;
	font-size: 18px;
	color: white;
}

.navbar .nav-button .nav-submit:hover {
	cursor: pointer;
	color: black;
}

.navbar .nav-button-last .nav-submit:hover {
	cursor: pointer;
	color: black;
}

.navbar .nav-button-last {
	margin-right: 0em;
}

.navbar .nav-button-space {
	margin-left: auto;
}

.main-div {
	border: 2px solid black;
	background-color: #8CDAFF;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 20px, 20px, 20px, 20px;
}

.main-div .into-main-div {
	padding-top: 30px;
	padding-left: 50px;
}

.main-div .into-main-div-so {
	border: 2px solid black;
	padding: 30px;
	font-size: 16px;
	align-self: center;
}

.main-div .into-main-div-so-2 {
	border: 2px solid black;
	padding: 30px;
	font-size: 16px;
	align-self: center;
	margin: auto;
}

.main-div .into-main-div-so-2 .so-button {
	display: block;
	width: 200px;
	height: 40px;
	margin-top: 20px;
	background-color: #FF8694;
	font: inherit;
	font-size: 20px;
	margin-left: auto;
	margin-right: auto;
}

.main-div .into-main-div-so-2 .so-button:hover {
	background-color: #BF4452;
	cursor: pointer;
	font: inherit;
	font-size: 20px;
	margin-left: auto;
	margin-right: auto;
}

.main-div .into-main-div-so .title-so {
	font-size: 20px;
	margin-bottom: 20px;
}

.main-div .into-main-div-so .main-text-so {
	font-size: 16px;
}

.main-div .into-main-div-so-2 .title-so {
	font-size: 20px;
	margin-bottom: 20px;
}

.main-div .into-main-div-so-2 .main-text-so {
	font-size: 16px;
}

.main-div .auth-div {
	border: 2px solid white;
	padding: 20px 30px 30px 20px;
	margin-top: 60px;
	margin-bottom: 60px;
	margin-left: auto;
	margin-right: auto;
	align-self: center;
	justify-self: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	display: flex;
}

.main-div .auth-div .auth-info-message {
	font-size: 20px;
}

.main-div .auth-div .auth-wrong-message {
	font-size: 10px;
	margin-top: 10px;
}

.main-div .auth-div .auth-form {
	display: flex;
	margin-top: 10px;
}

.main-div .auth-input-text {
	margin-top: 10px;
	width: 100%;
	height: 30px;
	width: 100%;
}

.auth-form .form-text {
	margin-top: 10px;
	font: inherit;
}

.main-div .auth-div .text {
	font-size: 20px;
}

.main-div .into-main-div .text2 {
	font-size: 20px;
	align-self: flex-start;
}

.main-div .into-main-div .text-admin-page {
	align-self: flex-start;
}

.auth-form .auth-input-submit {
	display: block;
	width: 200px;
	height: 40px;
	margin-top: 20px;
	background-color: #FF8694;
	font: inherit;
	font-size: 20px;
	margin-left: auto;
	margin-right: auto;
}

.auth-form .auth-input-submit:hover {
	background-color: #BF4452;
	cursor: pointer;
	font: inherit;
	font-size: 20px;
	margin-left: auto;
	margin-right: auto;
}

.footer-div {
	border: 2px solid black;
	background-color: #BF4452;
	height: 4rem;
	margin-top: 15px;
	padding-bottom: 10px;
}

.footer-div .footer-text {
	text-align: center;
}

/*
https://developer.mozilla.org/ru/docs/Web/CSS/CSS_Flexible_Box_Layout/Aligning_Items_in_a_Flex_Container
 */