<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info"
               strict="true" name="XMLConfigTest"
               packages="org.apache.logging.log4j" >
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %m %l %n"/>
        </Console>
        <RollingFile name="RollingFileSize"
                     fileName="d:/workspace/FinalProjectJWD/travel_agency/logs/log4j2.log"
                     filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval = "1"/>
                <SizeBasedTriggeringPolicy size = "100 KB"/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="RollingFileSize"/>
        </Root>
    </Loggers>
</Configuration>